## Carga de datos con Pandas
### María Fernanda Argueta A00830194

**1. Importa pandas.**

In [79]:
#Importa pandas.

import pandas as pd

**2. Lee el archivo .csv usando la función read_csv.**

In [80]:
#Lee el archivo .csv usando la función read_csv.
df = pd.read_csv("/Users/mafer/Documents/Tec/ArteLitica/Act1/Pandas/avocado.csv")

**3. Observa las primeras líneas usando la función head.**

In [81]:
#Observa las primeras líneas usando la función head.
print("------------Utilizando función head-----------")
print(df.head());

------------Utilizando función head-----------
   Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0           0  2015-12-27          1.33      64236.62  1036.74   54454.85
1           1  2015-12-20          1.35      54876.98   674.28   44638.81
2           2  2015-12-13          0.93     118220.22   794.70  109149.67
3           3  2015-12-06          1.08      78992.15  1132.00   71976.41
4           4  2015-11-29          1.28      51039.60   941.48   43838.39

     4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0   48.16     8696.87     8603.62       93.25          0.0  conventional
1   58.33     9505.56     9408.07       97.49          0.0  conventional
2  130.50     8145.35     8042.21      103.14          0.0  conventional
3   72.58     5811.16     5677.40      133.76          0.0  conventional
4   75.78     6183.95     5986.26      197.69          0.0  conventional

   year  region
0  2015  Albany
1  2015  Albany
2  2015  Albany
3  2015  Albany
4  2015  Albany

**4. Obtén diferentes combinaciones de columnas y datos.**

In [82]:
#Obtén diferentes combinaciones de columnas y datos.
#Uniendo los datos de la fila 1 y 9
dos = df.loc[2,:];
diez = df.loc[10,:];

print("-------------Combinación de la fila 1 y 9------------")
concatenado = pd.concat([dos,diez]);
print(concatenado)

-------------Combinación de la fila 1 y 9------------
Unnamed: 0                 2
Date              2015-12-13
AveragePrice            0.93
Total Volume       118220.22
4046                   794.7
4225               109149.67
4770                   130.5
Total Bags           8145.35
Small Bags           8042.21
Large Bags            103.14
XLarge Bags              0.0
type            conventional
year                    2015
region                Albany
Unnamed: 0                10
Date              2015-10-18
AveragePrice            1.12
Total Volume        84843.44
4046                  924.86
4225                75595.85
4770                  117.07
Total Bags           8205.66
Small Bags           7877.86
Large Bags             327.8
XLarge Bags              0.0
type            conventional
year                    2015
region                Albany
dtype: object

**5. Revisa los datos obtenidos por la función  describe.**

In [83]:
#Revisa los datos obtenidos por la función  describe.
desc = concatenado.describe();
print("-------------Descripción combinación de la fila 1 y 9------------")
print(desc)

-------------Descripción combinación de la fila 1 y 9------------
count       28
unique      24
top       2015
freq         2
dtype: int64

**6. Responde las preguntas de la sección anterior.**

In [84]:
print("------------------Preguntas Reto--------------------")

#¿Cuántos objetos hay?
cuenta = df.count()
print("------------Descripción cantidad de objetos------------")
print(cuenta)

#¿Cuál es el valor de la variable 2 del objeto 15?
valor = df.iloc[15,2]
print("El valor de la variable 2 del objeto 15 es: ", valor)

#¿Cuál es el mínimo y máximo de la variable 3?
var3 = df.iloc[:,3]
max = var3.max()
print("El valor máximo de la variable 3 es: ", max)
min = var3.min()
print("El valor mínimo de la variable 3 es: ", min)

------------------Preguntas Reto--------------------
------------Descripción cantidad de objetos------------
Unnamed: 0      18249
Date            18249
AveragePrice    18249
Total Volume    18249
4046            18249
4225            18249
4770            18249
Total Bags      18249
Small Bags      18249
Large Bags      18249
XLarge Bags     18249
type            18249
year            18249
region          18249
dtype: int64
El valor de la variable 2 del objeto 15 es:  1.28
El valor máximo de la variable 3 es:  62505646.52
El valor mínimo de la variable 3 es:  84.56